.cart-detail{
    display: flex;
    border: 1px solid rgb(214, 214, 214);
    margin: 3px;
    border-radius: 6px;
    position: relative;
}
.cart-detail img{
    width: 20%;
    margin-right: 1rem;
    border-radius: 6px 0px 0px 6px;
}
.cart-detail p{
    font-weight: 500;
}
.delete-btn{
    position: absolute;
    right: 2px;
    padding: 10px 10px !important;
}
.delete-btn box-icon{
fill: black !important;
}
.delete-btn box-icon:hover{
    fill: #E90D0D !important;
    }