.cart-detail{
    display: flex;
    border: 1px solid rgb(214, 214, 214);
    margin: 3px;
    border-radius: 6px;
}
.cart-detail img{
    width: 20%;
    margin-right: 1rem;
    border-radius: 6px 0px 0px 6px;
}
.cart-detail p{
    font-weight: 500;
}