.footer-container{
display: grid;
grid-template-columns: repeat(3,1fr);
background-color: black;
border-top: 5px solid #e90d0d;
color: white;
padding: 20px;
gap: 15px;
}
@media screen and (max-width:700px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
}